body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.jira-task {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 0;
    float: left;
    font-size: 1.2em;
    position: relative;
}

.jira-task header {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    border-bottom: 1px solid black;
    font-weight: 500;
}

.jira-task header .title {
    position: absolute;
    left: 10px;
    top: 10px;
}

.jira-task header .parent {
    position: absolute;
    right: 10px;
    top: 10px;
}

.jira-task .content {
    margin: 10px;
    height: 190px;
    position: relative;
}

.jira-task .assigne {
    -ms-opacity: 0.2;
    opacity: 0.2;
    font-size: 10em;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

@media print {
    .jira-task, .jira-task .assigne {
        page-break-inside: avoid;
    }
}